button:disabled {
    opacity: 0.85;
    cursor: not-allowed;
}

button {
    font-family: sans-serif;
    font-size: 10pt;
}

input[type="range"] {
    width: 450px;
}

label {
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: bold;
}